body {
    margin: 0;
    padding: 0;
    background-color: #0a192f;
    color: #ccd6f6;
}

html {
    scroll-behavior: smooth;
}
  

@font-face {
    font-family: 'Minimalist';
    src: url('./assets/fonts/Minimalist\ School.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./assets/fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pageTitle {
    text-align: left;
    color: #ccd6f6;
    font-family: 'Arial', sans-serif;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.pageContent {
animation: fadeIn;
animation-duration: 3s;
text-align: left;
}

/* fallback */
.animate__animated.animate__fadeInLeft {

}

.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}
.language-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem 1rem;
    background-color: #0f0e0e;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.language-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 80vh;
    width: 35%;
    padding: 2rem;
    color: #c3cff8;
    margin: 0 auto;
}
  
.intro-text {
    color: #64ffda;
    font-size: 0.9rem;
    margin-bottom: 0;
    font-family: 'Fira Code', monospace;
}
  
.main-name {
    font-size: 3rem;
    font-weight: bold;
    color: #ccd6f6;
    margin: 0;
}
  
.main-role {
    font-size: 2.5rem;
    font-weight: bold;
    color: #8892b0;
    margin: 0 0 0 0;
}

.description-text {
    max-width: 600px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #8892b0;
    margin-bottom: 4rem;
    text-align: left;
}

.learn-more-button {
    width: fit-content;
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    border: 1px solid #64ffda;
    background: none;
    color: #64ffda;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Fira Code', monospace;
}

.learn-more-button:hover {
    background-color: #64ffda;
    color: #0a192f;
}

.navbar {
    position: fixed;
    top: 0;
    width: 97%;
    background-color: #0a192f;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    z-index: 1000;
}

.nav-link {
    color: #64ffda;
    text-decoration: none;
    font-size: 0.8rem;
    margin-left: 1rem;
    font-family: 'Fira Code', monospace;
}

.nav-link:hover {
    text-decoration: underline;
}

.skills-section {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    height: 80vh;
    width: 40%;
    color: #ccd6f6;
    margin: 0 auto;
}

.languages-section {
    width: 25%;
}

.section1Title {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.skills-tabs-container {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    width: 700px;
    height: 300px;
}

.tabs-header {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    gap: 0;
    align-items: flex-start;
    background-color: #0a192f;
    border-radius: 10px;
    margin: 0.25rem;
    position: relative;
}

.tab-button {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 0.75rem;
    cursor: pointer;
    color: #8892b0;
    padding: 0.5rem;
    transition: all 0.3s ease;
    text-align: left;
    font-family:  'Fira Code', sans-serif;
    border-radius: 10px;
}

.active-tab {
    color: #64ffda;
    background-color: rgba(100, 255, 219, 0.055);
    transition: transform 0.2s ease;
}

.active-tab::after {
    content: '';
    display: block;
    width: 100%;
    background: #64ffda;
}
    
.tab-content {
    min-width: 500px;
    padding: 0.25rem;
    border-radius: 8px;
    justify-content: center;
}


.tab-button:hover {
    color: #64ffda;
    background-color: rgba(100, 255, 219, 0.055);
}

.tabs-header button {
    font-family: 'Fira Code', monospace;
    border: none;
    font-size: 0.85rem;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
}

.tabs-header button::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    height: 2px;
    width: 100%;
    max-width: fit-content;
    background-color: #64ffda;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;

    display: block;
}

.tabs-header .active-tab::after {
    transform: scaleX(1);
}

.tabs-header button:hover::after {
    width: 100%;
}

.skill-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', monospace;
    font-weight: bold;
    gap: 0.8rem;
    padding: 0.5rem;
    background-color: rgba(100, 255, 219, 0.055);
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.soft-skills-list {
    list-style: disc inside;
    padding-left: 1rem;
}

.skillName {
    display: flex;
    align-items: center;
}